 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 }
 
 body,
 html {
     height: 100%;
     width: 100%;
 }
 
 :root {
     --color1: #9c41f4;
     --color2: #99f443;
     --color3: #bc6cf9;
     --color4: #43077d;
     --color5: #766186;
 }
 
 #todoMainCont {
     background-color: var(--color4);
     height: 100%;
     width: 100vw;
 }
 
 #todoContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: fit-content;
     width: 500px;
     margin: auto;
     border: 2px solid black;
     padding: 20px;
     gap: 20px;
     background-color: aliceblue;
     border-radius: 20px;
 }
 
 #todoContainer #todoHead {
     text-align: left;
     align-self: flex-start;
 }
 
 #image img {
     width: 300px;
 }
 
 #image {
     text-align: center;
 }
 
 #todoContainer #inputCont {
     display: flex;
     gap: 10px;
     width: 100%;
 }
 
 #todoContainer #inputCont button {
     border-radius: 10px;
     border: 0;
     width: 20%;
     background-color: #43077d;
     color: white;
     font-size: 17px;
     cursor: pointer;
 }
 
 #todoContainer #inputCont input {
     width: 85%;
     font-size: 17px;
     padding: 10px 10px;
     border: 1px solid #766186;
     border-radius: 10px;
     font-family: sans-serif;
 }
 
 #todoItemsCont {
     width: 100%;
     font-size: 15px;
 }
 
 #todoList {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }
 
 #todoList li {
     display: flex;
     justify-content: space-between;
     background-color: #766186;
     border-radius: 10px;
     padding: 10px;
     color: white;
     font-family: sans-serif;
 }
 
 #todoList p {
     padding: 1px 10px;
 }
 
 .todoTask {
     flex-grow: 1;
 }
 
 .editTask {
     border-right: 1px solid white;
 }
 
 .todoTask,
 .editTask,
 .removeTask {
     cursor: pointer;
 }
 
 @media (max-width:360px) {
     #todoContainer {
         width: 100vh;
         border-radius: 0;
         border: 0;
         padding: 10px;
         height: fit-content;
     }
     #todoMainCont {
         background-color: aliceblue;
         height: 100vh;
         width: 100vw;
         padding: 0px;
         display: flex;
     }
     #todoContainer #todoHead {
         background-color: var(--color4);
         color: white;
         width: 100%;
         padding: 15px 10px;
         height: fit-content;
         border-radius: 10px;
         align-items: center;
     }
     #todoContainer #todoHead h1 {
         font-size: 30px;
     }
     #todoList li {
         display: grid;
         gap: 5px;
         grid-template-rows: 2fr 1.5fr;
         grid-template-columns: 1fr 1fr;
         justify-content: space-between;
         padding: 0px;
         border-radius: 0;
         color: white;
         font-family: "Montserrat Alternates", sans-serif;
         background-color: transparent;
         margin-top: 10px;
     }
     .todoTask {
         grid-area: 1/1/3/3;
         text-align: center;
         background-color: aliceblue;
         color: black;
         padding: 10px;
         min-height: 50px;
         border-radius: 5px;
         border: 1px solid black;
         margin-bottom: 5px;
         display: grid;
         align-items: center;
     }
     .editTask {
         border: 0;
         display: grid;
         width: 90%;
         padding: 10px 5px !important;
         font-size: 18px;
         margin: auto;
         align-items: center;
         text-align: center;
         background-color: rgb(220, 201, 243);
         border-radius: 50px;
     }
     .removeTask {
         text-align: center;
         display: grid;
         align-items: center;
         background-color: rgb(61, 8, 146);
         border-radius: 50px;
         width: 70%;
         margin: auto;
         width: 90%;
         padding: 10px 5px !important;
         font-size: 18px;
     }
     #date {
         background-color: #43077d;
         color: white;
         padding: 15px 30px;
         border-radius: 70px;
         width: 90%;
         position: sticky;
         bottom: 15px;
         text-align: center;
         box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
     }
     #listIcon {
         float: right;
         font-size: 40px;
         margin-top: 5px;
     }
 }